.detail-music-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.detail-music-title-title {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  padding-top: 426.25px;
}

.detail-music-title-domain {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

.detail-music-title-date {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 25px;
}
