.detail-music-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("../img/music-logo-titre.png");
  background-size: cover;
  color: white;
  width: 100vw; /* 100% de la largeur de la fenêtre */
  height: 100vh; /* 100% de la hauteur de la fenêtre */
  justify-content: flex-end;
  padding-bottom: 25px;
  position: relative; /* Permet de positionner les éléments enfants par rapport à ce conteneur */
}

.detail-music-title-title,
.detail-music-title-domain,
.detail-music-title-date {
  position: relative; /* Permet à ces éléments de se placer au-dessus de l'overlay */
  z-index: 2; /* Permet d'assurer qu'ils sont au-dessus de l'overlay */
}

.detail-music-title-text {
  margin-bottom: 25px;
}
.detail-music-title-title {
  padding-bottom: 16px;
}

.detail-music-title-domain {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 4px;
}

.detail-music-title-date {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}
